<!--
  Author:     Thomas D'haenens
  Created:    14/09/2019 8:21
  License:    GPLv3
-->


<!-- Result Div -->
<div class="result-div with-footer">

<!-- Navigation Header -->
<div class="nav-header">

  <!-- Navigation -->
  <nav>
    <ol class="breadcrumb">
      <ng-container *ngFor="let item of navigationLib.getNavItems(appConfig.config, data.routes.routes, route.snapshot.url); let index = index; let count = count;">
        <li *ngIf="objLib.lookUpKey(item, 'name')" class="breadcrumb-item" [ngClass]="{'active': (count == (index+1)), 'disabled': (!item.ref)}" (click)="(item.ref) && routeLib.navigate(router, item.ref)">
          <span [translate]="item.name"></span>
        </li>
        <li *ngIf="objLib.lookUpKey(item, 'value')" class="breadcrumb-item" [ngClass]="{'active': (count == (index+1)), 'disabled': (!item.ref)}" (click)="(item.ref) && routeLib.navigate(router, item.ref)">
          <span>{{item.value}}</span>
        </li>
      </ng-container>
    </ol>
  </nav>

</div>

<!-- Results -->
<div class="results row nomargin blockpadding flex-no-height">

  <!-- Iterate over Items -->
  <ng-container *ngFor="let item of results">

    <!-- Block -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 block">
      <div [ngStyle]="{'background': item.background}" class="row nomargin">

        <!-- Block Icon -->
        <div class="block-icon">
          <img [src]="item.icon">
        </div>

        <!-- Block Info -->
        <div class="block-info">

          <!-- Block Title -->
          <div class="block-title" [translate]="item.name"></div>

          <!-- Block Content -->
          <div class="block-content">{{item.version}}</div>

        </div>

      </div>
    </div>

  </ng-container>

</div>

<div class="credit-footer">

  <!-- Logo -->
  <a *ngIf="presentLib.getFooterLogo(appConfig.config)" [attr.href]="presentLib.getFooterLogoLink(appConfig.config)" target="_blank">
    <img [src]="presentLib.getFooterLogo(appConfig.config)" class="logo">
  </a>

  <!-- Copyright -->
  <p *ngIf="presentLib.getFooterCopyright(appConfig.config)" class="copyright">Copyright © {{ timeLib.getCurrentYear() }}</p>

  <!-- Contact -->
  <a *ngIf="presentLib.getFooterContactLink(appConfig.config)" [attr.href]="presentLib.getFooterContactLink(appConfig.config)" target="_blank">
    <p class="contact" [translate]="'common.button.contact'"></p>
  </a>

</div>

</div>
