[Unit]
Description=Neatly Base
Documentation=https://neatly.be/
After=network.target

[Service]
User=root
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/neatly-base

[Install]
WantedBy=multi-user.target
